{# Default section template. Renders the section index's markdown content. #}
{% extends "base.html" %}

{% block title %}{{ section.extra.seo_title | default(value=section.title) }} - {{ config.title }}{% endblock title %}
{% block og_title %}{{ section.extra.seo_title | default(value=section.title) }} - {{ config.title }}{% endblock og_title %}

{% block description %}{{ section.description | default(value=config.description | default(value="")) }}{% endblock description %}
{% block og_description %}{{ section.description | default(value=config.description | default(value="")) }}{% endblock og_description %}

{% block og_image %}
{%- set og_image = section.extra.og_image | default(value=config.extra.og_image | default(value="")) -%}
{%- if og_image %}
  <meta property="og:image" content="{{ get_url(path=og_image, trailing_slash=false) }}">
{%- endif %}
{% endblock og_image %}

{% block body_class %}{% if section.extra.body_class %} class="{{ section.extra.body_class }}"{% endif %}{% endblock body_class %}

{% block ld_json %}
  {{ super() }}
  {{ crumb::breadcrumb(title=section.title, permalink=section.permalink, ancestors=section.ancestors) }}
{% endblock ld_json %}

{% block content %}
{{ section.content | safe }}
{% endblock content %}
